.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:1.3em;
    height: 100%;
}


/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

.header,
.about_section,
.contact_section {
    margin-bottom:5rem; 
} 

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header h1{
      font-size:1.8rem;  
}

.animation-text {
    height: 25px;
}


/*--------------------------------------------------------------
# about_section
--------------------------------------------------------------*/


.about_section {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.about_section-info {
    padding: 1.5rem;
    border-radius: 5px;
}
.about_section-info > * {
    margin: 1rem 0;
}
.about_section-info h2 {
    font-size: 2rem;
    border-bottom: 5px solid var(--brand-red) ;
    width: 40%;
}

.about_section-info p:hover {
    background-color: #f49c0f;
    border-radius: 5px;
    color: black;
}


.about_section-info p {
    line-height: 40px;
    font-size: 18px;
    padding: 0.4rem;
    display: block;
}


.about_section-logo {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 3px;
}   


/*--------------------------------------------------------------
# contact_section
--------------------------------------------------------------*/



.contact_section {
    grid-template-columns: auto auto auto;
    gap: 60px;
}




.contact_section a {
    flex-direction: row;
    line-height: 1.5;
    font-size: 13px;
    color: aliceblue;
    line-height: 2;
}

.contact_section_socialmedia a{
    margin:0 0.2rem;
}



.contact_section h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

hr {
    height: 50px;
}


/*--------------------------------------------------------------
# icons
--------------------------------------------------------------*/

.icon{
    width:42px;
    height:1.7em;
    transition: all .3s ease;
}

.icon:hover {
    color: #f49c0f;
}

/*--------------------------------------------------------------
# footer_section
--------------------------------------------------------------*/


.footer_section {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position:fixed;
    bottom:0;
    height: 40px;
    background-color: rgb(70, 70, 70);
}






/*--------------------------------------------------------------
# Responsive_styling
--------------------------------------------------------------*/
@media (max-width: 1200px) {
    .about_section {
        grid-template-columns: auto;
    }
    .contact_section{
        grid-template-columns: auto;
    }
    .contact_section_email,
    .contact_section_socialmedia {
        text-align: center;
    }

    .contact_section_email a {
        justify-content: center;
    }
    hr {
        display: none;
    }

    .about_section-info  {
        text-align: center;
    }

    .about_section-info h2 {
       width: 100%
    }
    .header,
    .about_section,
    .contact_section {
    margin-bottom: 3.9rem; 
    } 
    .about_section-info p {
        line-height: 30px;
        font-size: 17px;
    }
}

    @media (max-width: 550px) {
        .header,
        .about_section,
        .contact_section {
        margin-bottom: 3.5rem; 
        } 

    }

    @media (max-width: 390px) {
        .header,
        .about_section,
        .contact_section {
        margin-bottom: 2.2rem; 
        } 

    }
    @media (max-width: 375px) {
        .header,
        .about_section,
        .contact_section {
        margin-bottom: 2.4rem; 
        } 

    }


    @media (max-width: 320px) {
        .header {
            margin-bottom: 2.3rem;
        }
        
    .icon {
        width:35px;
        height:1.7em;
    }

    .contact_section_socialmedia a {
        margin:0;
        }

}
