@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;1,200;1,300&display=swap');



:root{
  --brand-red:#c91f64;
  --brand-green:#084f41;
  --brand-yellow:#f49c0f;
  --brand-purple:#62156f;
  --background-white: #f2f2f2;


  /* FOOTER STYLES  */
  
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat";
  background-color: var(--background-white) ;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
}
.grid-container {
  display: grid;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.page-content {
  width: 90%;
  margin: 40px auto;
}



@media screen and (max-width: 900px) {  
  .page-content {
    width: 90%;
  }
}

@media screen and (max-width: 550px)  {
}


@media screen and (max-width: 750px){
  :root{

    /* Footer styling  */
    --footer-li-span:none;
    --footer-flex-direction:column;
    --footer-align-items:center;
  }
}