@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;1,200;1,300&display=swap');



:root{
  --brand-red:#c91f64;
  --brand-green:#084f41;
  --brand-yellow:#f49c0f;
  --brand-purple:#62156f;
  --background-white: #f2f2f2; 
  --background-black: #0B111A;

  /* Schedule page  */

  --button-padding: 13px;
  --button-font-size:16px;
  --agenda-time-padding: 10px;
  --speaker-container-flex-direction:row;
  --speaker-container-gap:2px;
  --speaker-container-picture-height:400px;
  --speaker-container-picture-width:400px;

  --nav-btn-padding:8px;
  --nav-menu-mobile-display:none;

  /* Home  */

  --main-grid-template-columns:1fr 1fr;

}


* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}






body {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat";
  background-color: var(--background-white) ;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
}
.grid-container {
  display: grid;
}

.flexbox {
  display: flex;
  justify-content: center;
}



.page-content {
  width: 90%;
  margin: 40px auto;
}



@media screen and (max-width: 900px) {  
  .page-content {
    width: 90%;
  }
  :root {
    --team-member-card-align-itmes: center;
    --team-member-card-flex-direction:column;

    /* Schedule page  */
    --speaker-container-flex-direction:column;
    --speaker-container-picture-height:400px;
    --speaker-container-picture-width:100%;
  }
}




@media screen and (max-width: 501px)  {
    :root{
      --main-p-font-size: 20px;
      --main-p-line-height:35px;


        /* Home Styling */
      --hero-info-width: 90%;
      --hero-info-h2-font-size:18px;
      


      --hero-height: 55vh;
      --hero-background-position: center;
      --main-grid-template-columns: 1fr;

      --home-main-p-font-size: 15px;
      --home-main-p-line-height: 30px; 


      /* Gallery */

      --gallery-container-grid-template-columns: auto;

      /* Schedule */
      --button-padding: 13px;
      --button-font-size:16px;
      --agenda-time-padding: 0;

       --speaker-container-flex-direction:column;


  }
}
@media screen and (max-width: 550px) {  
  :root{
      /* Team Component styling */
      --team-member-card-align-items: center;
      --team-member-card-display: flex ;
      --team-member-card-flex-direction: column;

      --team-name-gap: 6px;
      --team-name-line-height: 20px;

      --team-title-font-size:20px;

      --main-grid-template-columns: 1fr;

    }
}



@media screen and (max-width: 906px) {  
  :root{

    --nav-menu-mobile-display:block;

    }
}

