.teamheader-container{
    background-color: var(--brand-green);
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 179px;
    color: #fff;
  }

  .team-content {
    margin-bottom: 100px;
  }

  .team-content> * {
    margin-bottom: 25px;
  }
  
  .team-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
  
  .team-name {
    gap: 15px;
    line-height: 40px;
  }

.team-member-card {
    grid-template-columns: 263.37px 263.37px 263.37px ;
    gap: 80px;
    margin-top: 40px;
}

@media screen and (max-width: 968px) { 
    .team-member-card{
        gap: 45px;
    }
}

@media screen and (max-width: 900px) { 
    .team-member-card {
        grid-template-columns: 263.37px 263.37px;
        gap: 40px;
    }
    .team-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 550px) { 
    .team-member-card {
        grid-template-columns: 263.37px ;
        gap: 30px;
    }
    .team-member-card{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .team-name {
        gap: 6px;
        line-height: 40px;
      }
}