.home-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "header";

}

.hero{
    grid-area: header;
    background-image: url('../../../public/assets/hero-bg.png');
    background-repeat: no-repeat; 
    height: var(--hero-height);
    background-size: cover;
    background-position: var(--hero-background-position);
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: var(--hero-content-gap);
    align-items: center;
    justify-content: center;
    padding-top: 3.7vh;
}

.hero-info{
    background-color: black;
    color:#fff;
    padding: 2rem;
    text-align: center;
    min-width: 40%;
    opacity: 0.8;
    margin-bottom: 2rem;
    border-radius:3px;
}

.cta-button{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color:#fff;
    margin-top: 15px;
    padding-top:16px;
}

.cta-button button:hover, .pro-button:hover{
    background-color: var(--brand-yellow);
}

.cta-button button{
    border: none;
    background-color: var(--brand-red);
    border-radius:3px;
    color:#fff;
}
.pro-button{
    display: flex;
    flex-direction: row;
    background-color: var(--background-black);
    color:black;
    padding:var(--pro-button-padding);
    gap:1em;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}
.pro-text{
    color: #fff;
}


.pro-Icon{
    color: #fff;
    font-size: 25px;
}



@media screen and (max-width: 550px) { 
    .cta-button{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


.hero-info h2 {
    font-size:var(--hero-info-h2-font-size);
}

main{
    background: black;
    color: white;
    width: 100%;
    padding: 2%;
    padding-bottom: 65px;
    display: grid;
    grid-template-columns: var(--main-grid-template-columns);
    gap: var(--main-gap);
}

.main-about {
    width:var(--main-about-width);
}

main p{
    font-size: var(--home-main-p-font-size);
    margin-top:40px;
    text-align: justify;
    line-height: var(--home-main-p-line-height);
}


main h1{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 40px;
}

main h1:nth-child(odd){
    color:var(--brand-yellow)
}

main h1:nth-child(even){
    color:var(--brand-red)
}

.sponsors{
    background-color:var(--brand-red);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.sponsors h1{
    color: white;
    text-align: center;
    padding: 10px;
}

.section-title{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2px;
}
.sponsor-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--brand-yellow);
    color: white;
    padding: 10px;
    width: 120px;
    align-self: center;
}
.sponsors  p{
    color: white;
    margin-top: 20px;
}

@media screen and (max-width:900px) {


.hero-info{
    padding: 1rem;
    text-align: center;
    width: 75%;
}

.hero-content img{
    width: 100%;
}
.hero-content{
    padding-top: 10vh;
}

}
