
.team-member-container{
    text-align: center;
    margin-top: 18px;
}
.team-member-container p {
    font-size: 18px;
    font-weight: 700;
}

.social-media {
    justify-content: center;
    gap: 9px;
    margin-top: 12px;
}
.card img {
    width:100%;
    height: 100%;
}

@media screen and (max-width: 550px) { 
    .team-member-container p {
        font-size: 16px;
        font-weight: 700;
    }
}