.schedule-conatiner {
    justify-content: center;
    align-content: center;
    
}

.navigation {
    flex-wrap: wrap;
 
}

.button{
    padding: var(--button-padding);
    border: 1px solid rgb(223, 222, 222);
    font-size: var(--button-font-size);
    font-weight: 400;
    cursor: pointer;
}


.active-button{
    background-color: #0B111A;
    color: #fff;
}

.agenda-content {
    margin: 60px auto;
    width: 78%;
}

.date-container {
    padding: 20px;
    background-color: var(--background-black);
    color: #fff;
    font-size: 20px;
    width: 280px;
    margin-bottom: 10px ;
}

.agenda-day-content {
    padding-bottom: 30px;
}


.agenda-schedule-container {
    display: flex;
    width: 100%;
    border: 1px solid #B1B1B1;
   }


.agenda-time {
    padding: var(--agenda-time-padding);
    background-color: var(--brand-red);
    text-align: center;
    font-size: 17px;
    width: var(--agenda-time-width);
    line-height: 38px;
    color: #fff;
}

.agenda-schedule-content {
    padding: 25px;
}

.agenda-schedule-content > *{
    padding-bottom: 12px;
}



.speakers-content {
    margin: 60px auto;
    width: 90%; 
}


.speaker-container {
    display: flex;
    border: 1px solid #B1B1B1;
    width: 100%;
    margin-bottom: 50px;
    flex-direction: var(--speaker-container-flex-direction);
    gap:var(--speaker-container-gap);
   
}

.speaker-details-content {
    padding: 10px;
    text-align: justify;
    width: 100%;
}



.speaker-picture {
    border: 10px solid var(--brand-yellow);
    width: var( --speaker-container-picture-width);
    height: var( --speaker-container-picture-height);
    
   
}

.speaker-picture img {
    width: 100%;
    height: 100%;
}

.session-tag {
    background-color: var(--brand-yellow);
    color: #fff;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid #0B111A;
    padding: 10px;
}

.session-speaker {
    font-size: 17px;
}

.session-content {
    font-size: 15px;
}

.travel-guide-container ul {
    list-style-type:circle;
    margin-left: 20px;
  }

  .travel-content {
    margin-bottom: 20px;
  }
  .travel-content > * {
    margin-bottom:10px ;
  }

  .travel-content h2 {
    font-weight: 1000;
  }