section {
    background-color: var(--brand-yellow);
    width: 100%;
    padding: 2%;
    text-align: center;
    padding-bottom: 50px;
}

section h3,p{
    font-size: 18px;
}

section * {
   margin-top: 5px;
}

input {
    border: none;
    padding: 10px;
    margin-right: 10px;
    outline: none;
    width: 60%;
}

button{
    background-color: black;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
}


@media screen and (min-width:700px) {
    section h3{
        font-size: 25px;
    }
    input {
        padding: 15px;
        width: 50%;
    }
    
    button{
        padding: 15px;
        font-size: 16px;
    }
}